<h2>Create a new topic</h2>
<form class="Form" name="topicForm" #f="form" (ng-submit)="createTopic()">
  <fieldset>
    <input type="text"
           class="Form-topic-title"
           ng-control="title"
           [(ng-model)]="model.title"
           placeholder="Post a new topic"
           required>
  </fieldset>
  <fieldset>
    <textarea class="Form-topic-body"
              ng-control="body"
              [(ng-model)]="model.body"
              placeholder="Content"></textarea>
  </fieldset>
  <fieldset>
    <input type="submit"
           class="Button Button--primary"
           value="Create"
           [disabled]="!f.form.valid">
  </fieldset>
</form>
<h2>Topics</h2>
<div class="Topic" *ng-for="#topic of Topics.all()">
  <a [router-link]="['/Topic', {id: topic.id}]">{{topic.title}}</a>
</div>
