<form class="Form" #f="form" (ng-submit)="saveComment()">
  <fieldset>
    <textarea class="Form-topic-body"
              [(ng-model)]="model.body"
              ng-control="body"
              placeholder="Add a comment"
              required></textarea>
  </fieldset>
  <fieldset>
    <input type="submit"
           class="Button Button--primary"
           [disabled]="!f.form.valid"
           value="Save">
    <input type="button"
           class="Button Button--primary"
           *ng-if="showCancel()"
           (click)="cancelComment()"
           value="Cancel">
  </fieldset>
</form>
