.Button {
  display: inline-block;
  border: 0;
  padding: 12px 36px;
  cursor: pointer;
}

.Button[disabled] {
  cursor: not-allowed;
}

.Button--primary {
  background-color: #ffab40;
  color: white;
}

.Button--primary[disabled][disabled] {
  background-color: #ffd180;
}

.Button--primary:hover {
  background-color: #ff9100;
}

.Button--primary:active {
  background-color: #ff6d00;
}

