.Comment {
  margin: 10px 0;
  padding-left: 10px;
  border-left: 1px dotted #9e9e9e;
}

.EditForm,
.ReplyForm {
  display: none;
}

.Comment.is-editing > .Comment-body {
  display: none;
}

.Comment.is-editing > .EditForm,
.Comment.is-replying > .ReplyForm {
  display: block;
}

.Comment-tools {
  display: flex;
}

.Comment-tools a {
  margin-right: 1em;
}

.Comment-tools a:last-child {
  margin-right: 0;
}
