body {
  color: #212121;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h2 {
  margin: 0 0 1em;
}

fieldset {
  border: 0;
  margin: 0 0 1em;
  padding: 0;
}

input,
textarea {
  outline: none;
  padding: 5px 10px;
  border: 1px solid #9e9e9e;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: var(--primary-color);
  cursor: pointer;
}

a:hover {
  border-bottom: 1px solid var(--primary-color);
}
