.Header {
  background-color: var(--primary-color);
  padding: 0 1em;
  color: white;
  line-height: 2em;
}

.Header a {
  border: 0;
}

.Header-text {
  font-weight: 100;
  font-size: 2em;
  color: white;
  line-height: 2em;
}

.Header-example {
  margin-left: 1em;
  color: white;
}
