.Topic {
  padding: 5px 10px;
  border-top: 1px solid #9e9e9e;
}
.Topic:last-child {
  border-bottom: 1px solid #9e9e9e;
}

.Topic-delete {
  display: none;
}

.Topic:hover .Topic-delete {
  display: inline;
}
