<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../styles/main.css">
    <title>ForumMVC - VanillaJS Example</title>
  </head>
  <body>
    <div class="Header">
      <a class="Header-text" href="/forummvc">forum<b>mvc</b></a>
      <a class="Header-example" href="/forummvc/vanillajs">VanillaJS Example</a>
    </div>
    <div class="Content">
      <main class="Content-body" id="container"></main>
      <aside class="Content-aside">
        <a href="https://bitbucket.org/rnons/forummvc/src/master/examples/vanillajs/"
           target="_blank">Source code</a>
      </aside>
    </div>

    <script type="text/template" id="index.html">
      <h2>Create a new topic</h2>
      <form class="Form" id="topicForm" novalidate>
        <fieldset>
          <input type="text"
                 class="Form-topic-title"
                 id="topicTitle"
                 name="title"
                 placeholder="Post a new topic"
                 required>
        </fieldset>
        <fieldset>
          <textarea class="Form-topic-body"
                    id="topicBody"
                    placeholder="Content"></textarea>
        </fieldset>
        <fieldset>
          <input type="submit"
                 class="Button Button--primary"
                 value="Create">
        </fieldset>
      </form>
      <h2>Topics</h2>
      <div id="topicList"></div>
    </script>
    <script type="text/template" id="topic.html">
      <h2 id="topicTitle"></h2>
      <div id="topicBody"></div>
      <form class="Form" id="commentForm" novalidate>
        <fieldset>
          <textarea class="Form-topic-body"
                    id="commentBody"
                    name="commentBody"
                    placeholder="Add a comment"
                    required></textarea>
        </fieldset>
        <fieldset>
          <input type="submit"
                 class="Button Button--primary"
                 value="Save">
        </fieldset>
      </form>
      <div id="comments"></div>
    </script>
    <script type="text/template" id="comment.html">
      <div class="Comment" data-id="{{id}}">
        <div class="Comment-body">{{body}}</div>
        <form class="EditForm" novalidate>
          <fieldset>
            <textarea class="Form-topic-body"
                      name="commentBody"
                      placeholder="Editing"
                      required></textarea>
          </fieldset>
          <fieldset>
            <input type="submit"
                   class="Button Button--primary"
                   data-action="saveEdit"
                   value="Save">
            <input type="button"
                   class="Button Button--primary"
                   data-action="cancelEdit"
                   value="Cancel">
          </fieldset>
        </form>
        <div class="Comment-tools">
          <a data-action="edit">edit</a>
          <a data-action="delete">delete</a>
          <a data-action="reply">reply</a>
        </div>
        <form class="ReplyForm" novalidate>
          <fieldset>
            <textarea class="Form-topic-body"
                      name="commentBody"
                      placeholder="Add a comment"
                      required></textarea>
          </fieldset>
          <fieldset>
            <input type="submit"
                   class="Button Button--primary"
                   data-action="saveReply"
                   value="Save">
            <input type="button"
                   class="Button Button--primary"
                   data-action="cancelReply"
                   value="Cancel">
          </fieldset>
        </form>
        {{comments}}
      </div>
    </script>
    <script src="scripts/main.js"></script>
  </body>
</html>
