<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../styles/main.css">
    <title>ForumMVC - AngularJS Example</title>
  </head>
  <body ng-app="forummvc">
    <div class="Header">
      <a class="Header-text" href="/forummvc">forum<b>mvc</b></a>
      <a class="Header-example" href="/forummvc/angularjs">AngularJS Example</a>
    </div>
    <div class="Content">
      <main class="Content-body" ng-view></main>
      <aside class="Content-aside">
        <a href="https://bitbucket.org/rnons/forummvc/src/master/examples/angularjs/"
           target="_blank">Source code</a>
      </aside>
    </div>

    <script type="text/ng-template" id="index.html">
      <h2>Create a new topic</h2>
      <form class="Form" name="topicForm" ng-submit="createTopic()">
        <fieldset>
          <input type="text"
                 class="Form-topic-title"
                 ng-model="model.title"
                 placeholder="Post a new topic"
                 required>
        </fieldset>
        <fieldset>
          <textarea class="Form-topic-body"
                    ng-model="model.body"
                    placeholder="Content"></textarea>
        </fieldset>
        <fieldset>
          <input type="submit"
                 class="Button Button--primary"
                 value="Create"
                 ng-disabled="topicForm.$invalid">
        </fieldset>
      </form>
      <h2>Topics</h2>
      <div class="Topic" ng-repeat="(id, topic) in model.topics">
        <a ng-href="#/topics/{{id}}">{{topic.title}}</a>
        <a class="Topic-delete" ng-click="deleteTopic(topic)">delete</a>
      </div>
    </script>
    <script type="text/ng-template" id="topic.html">
      <h2>{{model.topic.title}}</h2>
      <div>{{model.topic.body}}</div>
      <comment-form parent-id="model.topic.id"
                    parent-type="'topic'"
                    hide-cancel="true"></comment-form>
      <h3>Comments</h3>
      <div ng-repeat="comment in comments=model.topic.comments"
           ng-include="'comment.html'"></div>
    </script>
    <script type="text/ng-template" id="comment.html">
      <div class="Comment">
        <div ng-hide="comment.editFormShown">{{comment.body}}</div>
        <edit-form ng-show="comment.editFormShown"
                   comment="comment"></edit-form>
        <div class="Comment-tools">
          <a ng-click="comment.editFormShown = true">edit</a>
          <a ng-click="deleteComment(comment)">delete</a>
          <a ng-click="comment.replyFormShown = true">reply</a>
          <comment-form ng-show="comment.replyFormShown"
                        parent-id="comment.id"
                        parent-type="'comment'"></comment-form>
        </div>
        <div ng-repeat="comment in comment.comments" ng-include="'comment.html'"></div>
      </div>
    </script>
    <script type="text/ng-template" id="comment_form.html">
      <form class="Form" name="commentFrom" ng-submit="saveComment()">
        <fieldset>
          <textarea class="Form-topic-body" ng-model="model.body"
                    placeholder="Add a comment"
                    required></textarea>
        </fieldset>
        <fieldset>
          <input type="submit"
                 class="Button Button--primary"
                 value="Save"
                 ng-disabled="commentFrom.$invalid">
          <input type="button"
                 class="Button Button--primary""
                 ng-hide="hideCancel"
                 ng-click="cancelComment()"
                 value="Cancel">
        </fieldset>
      </form>
    </script>
    <script src="scripts/main.js"></script>
  </body>
</html>
