@import 'components/button';
@import 'components/element';
@import 'components/header';
@import 'components/topic';
@import 'components/comment';
@import 'components/variables';

.Form {
  width: 60%;
  min-width: 320px;
}

.Form-topic-title {
  width: 100%;
}

.Form-topic-body {
  width: 100%;
  min-height: 3em;
}

.Content {
  padding: 1em;
  display: flex;
}

.Content-body {
  flex: 1;
  margin-right: 1em;
}

.Content-aside {
  width: 300px;
}
