<div class="Header">
  <a class="Header-text" href="/forummvc">forum<b>mvc</b></a>
  <a class="Header-example" href="/forummvc/angular2">Angular2 Example</a>
</div>
<div class="Content">
  <main class="Content-body">
    <router-outlet></router-outlet>
  </main>
  <aside class="Content-aside">
    <a href="https://bitbucket.org/rnons/forummvc/src/master/examples/angular2/"
       target="_blank">Source code</a>
  </aside>
</div>
