<div *ng-for="#comment of comments">
  <div class="Comment"
       [class.is-editing]="comment.editing"
       [class.is-replying]="comment.replying">
    <div class="Comment-body">{{comment.body}}</div>
    <edit-form class="EditForm"
               [comment]="comment"></edit-form>
    <div class="Comment-tools">
      <a (click)="comment.setEditing()">edit</a>
      <a (click)="deleteComment(comment)">delete</a>
      <a (click)="comment.setReplying()">reply</a>
    </div>
    <comment-form class="ReplyForm"
                  parent-type="comment"
                  [parent-id]="comment.id"></comment-form>
    <comments [comments]="comment.comments"></comments>
  </div>
</div>
